<header>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Technologies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Recruitment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Star-Employee</a>
        </li>
    </ul>
</header>

<h1 badge-heading>Employee Details</h1>